.wrapper {
  display: flex;
}

.title {
  width: 668px;
  margin-bottom: 40px;
  margin-top: 36px;
  font-size: 62px;
  line-height: 1.1;
}

.top_text {
  margin-bottom: 30px;
}
.info_wrapper {
  display: flex;
  gap: 106px;
  margin-right: 125px;
}
.text_info {
  display: flex;
  flex-direction: column;
  width: 223px;
  gap: 12px;
  font-size: 14px;
}

.image_wrapper {
  position: relative;
}
.button {
  width: 397px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
