@import "../../../styles/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  z-index: 1;
}

.logo,
.list {
  background-color: $color-grey;
  z-index: 1;
}

.list {
  font-size: 14px;
  line-height: 18px;
}
