@import "../../styles/variables";

.section {
  display: flex;
  height: 536px;
  justify-content: space-between;
  margin-right: -30px;
  margin-bottom: 160px;
}

.title {
  width: 359px;
  font-size: 62px;
  line-height: 1.09;
  letter-spacing: 0; //TODO:check
  z-index: 1;
  margin-bottom: 318px;
}
